body{
	margin: 0;
	background: #fff;
	font-family: sans-serif;
}

#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header
{
    color: #FFF;
	background: #888;
	padding: 20px;
	border-bottom: 1px solid #DADADA;
}

#header h1 { margin: 0; text-align: center;}

#content-container
{
	float: left;
	width: 100%;
	background: #FFF;
}

#content
{
	clear: left;
	float: left;
	width: 50%;
	padding: 20px 0;
	display: inline;
}

#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 50%;
	padding: 20px 0;
	display: inline;
}

#footer
{
	clear: left;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

div .order{
	font-size: 16px;
	padding-bottom: 10px;
}